[submodule "repositories/kosmos-python-playground"]
	path = repositories/kosmos-python-playground
	url = git@github.com:bucky-badger-gesmer/kosmos-python-playground.git
[submodule "repositories/kosmos-js-playground"]
	path = repositories/kosmos-js-playground
	url = git@github.com:bucky-badger-gesmer/kosmos-js-playground.git
[submodule "repositories/aws-saa-practice-app"]
	path = repositories/aws-saa-practice-app
	url = git@github.com:bucky-badger-gesmer/aws-saa-practice-app.git
[submodule "repositories/cloud-computing-notes"]
	path = repositories/cloud-computing-notes
	url = git@github.com:bucky-badger-gesmer/cloud-computing-notes.git
[submodule "repositories/ai-ethics"]
	path = repositories/ai-ethics
	url = git@github.com:bucky-badger-gesmer/ai-ethics.git
